################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment2/francloz-RDFofJSONtoJSON-LD.ttl
/Assignment2/francloz-JSONfromJSONtoJSON-LD.json
/.gitignore
